<%= render "places/side_bar"%>

<div class="chat">
    <div class="chat-header">
      <% if @character.empty? %>
      <div class="header-left">
      <%= link_to '参加する', edit_place_path(@place), class:"header-join" %>
      <p></p>
      </div>
      <% end %>

      <% if @character.present? %>
        <div class="header-right">
      <%= link_to '退出する',place_path(@place), class:"header-taisyutu", method: :delete %>
      <%= link_to '削除する',place_destroy_place_path(@place), method: :delete %>
        </div>
      <% end %>
    </div>

  <div class="messages">
    <div class="message">
      <div class="image-messages">
        <% @place.characters.each do |character| %>
        <%= link_to character_path(character.id) do %>
        <%= image_tag character.image, class:"image-message" %>
          <div class="image-name">
          <%= character.name %>
          </div>
      <% end %>
      <% end %>
      </div>
      <% @messages.each do |message| %>
      <div class="upper-message">
        <div class="message-user">        
        <%= message.user.nickname %>
        </div>
        <div class="message-date">
        <%= l message.created_at %>
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
        <%= message.content %>
        </div>
      </div> 
      <% end %>
    </div>  
  </div>


  <% if @character.present? %>
  <%= form_with model: [@place,@message], class: "form", local: true do |f| %>
    <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    </div>
    <%= f.submit '送信', class: 'form-submit' %>
  <% end %>
  <% end %>
</div>