<link href="assets/characters_index.scss" rel="stylesheet">
<%= render "shared/header"%>
 
<%# キャラ一覧 %>
<main>
<div class='character-contents'>
  <div class='character-title-space'>
    <h2 class='title'>キャラクターリスト</h2>
      <%= link_to 'キャラクター作成', new_character_path, class: 'character-btn' %>
      <%= link_to "トークしに行く", places_path, class: "character-room-btn" %>
  </div>

  <div class='character-main'>
    <div class='character-space'>
    <ul class='character-img-content'>
    <% @characters.each do |character| %>  
      <%= link_to character_path(character.id) do %>
      <li><%= image_tag character.image, class: "character-img" %>
      <h3 class='character-name'></h3>
      <%= character.name %>
      </li>
    <% end %>
    <% end %>
    </ul>
    </div>
  </div>
</div>  
<%# /キャラ一覧 %>

</main> 