<%= render "shared/header"%>

<%# キャラ一覧 %>
<div class='character-contents'>
  <h2 class='title'>キャラクターリスト</h2>
  <ul class='character-lists'>

  <% @characters.each do |character| %>
    <li class='list'>
    <div class='character-img-content'>
      <%= link_to character_path(character.id) do %>
      <%= image_tag character.image, class: "character-img" %>
    </div>
    <h3 class='character-name'>
      <%= character.name %>
    </h3>
    </li>
  <% end %>
  <% end %>
  </ul>
</div>  



<%# /キャラ一覧 %>

<%= link_to 'キャラクター作成', new_character_path, class: 'character-btn' %>
<%= link_to "トークしに行く", places_path, class: "character-room-btn" %>