 <link href="assets/characters_new.scss" rel="stylesheet">
<%= render "shared/header"%>

<div class="main-new">
  <div class="character-new">
    <%= image_tag("chara_men.jpg", class: "character-header") %>
    <%= image_tag("chara_lobo.jpg", class: "character-header2") %>
    <%= image_tag("chara_oni.jpg", class: "character-header3") %>
    <%= image_tag("chara_devil.jpg", class: "character-header4") %>
    <%= image_tag("chara_cat.jpg", class: "character-header5") %>
    <%= image_tag("chara_kaijuu.jpg", class: "character-header6") %>
    <div class="charaform-new">      
    <%= form_with model: @character, url: characters_path, class: 'form-new', local: true do |f| %>
  
    <%= image_tag "chara_jouhou", class:"form-header-text form-header-text_image" %>
    <p></p>
    <%= render 'shared/error_messages', model: @character %>

    
    <div class="img-upload">
      <div class="form-group">
        <%= f.file_field :image, class:"form-control-file", id:"character-image" %>
      </div>
    </div>
  <div class="form-group">
    <div class="nickname-form">
      <label for="名前" class="sr-only">名前</label>
      <%= f.text_area :name, class:"form-control form-control-newchara", id:"character-name", placeholder:"名前" %>
    <p></p> 
  </div>
  <div class="form-group">
    <div class="nickname-form">
      <label for="出身" class="sr-only">出身</label>
      <%= f.text_area :residence, class:"form-control form-control-newchara", id:"residence", placeholder:"出身", autofocus: true %>
    </div>
    <p></p> 
  </div>
    
  <div class="form-group">
    <div class="nickname-form">
    <%#<div class="h5 mb-3 font-weight-normal">性別</div>%>
      <label for="性別" class="sr-only">性別</label>
    <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"form-control form-control-newchara", id:"gender", placeholder:"出身"}) %>
    <p></p>
  </div>

  <div class="form-group">
    <div class="nickname-form">
      <label for="自己紹介" class="sr-only">自己紹介</label>
     <%= f.text_area :introductions, class:"form-control form-control-newchara", id:"phone_number", placeholder:"自己紹介を入力してください" %>
  </div>

    <%= image_submit_tag "sakusei_btn", class:"sakusei_btn" %>
<% end %>
    </div>
  </div>
</div>
