<link href="assets/characters_new.scss" rel="stylesheet">
<%= render "shared/header"%>

<div class="main-new">
  <div class="character-new">
  <%= image_tag("chara_men.jpg", class: "character-header_sanka ") %>
  <%= image_tag("chara_lobo.jpg", class: "character-header_sanka2 slidein") %>
  <%= image_tag("sanka_hukidasi.png", class: "hukidashi fifth") %>
  <%= image_tag("sanka_kotoba.png", class: "kotoba sixth") %>
  <%= image_tag("sanka_hukidasi.png", class: "hukidashi_left seventh") %>
  <%= image_tag("sanka_kotoba.png", class: "kotoba_left eight") %>
    <div class="charaform-new">      
    <%= form_with model: @place, local: true do |f| %>
    <div class="nine">
    <%= image_tag "charasentaku_btn.jpg", class:"form-header-text form-header-text_image mocchiri" %>
    </div>
    <p></p>
    <%= render 'shared/error_messages', model: @place %>

  <div class="form-group">
    <div class="nickname-form wf-mplus1p">
      <label for="名前" class="sr-only">名前</label>
      <%= f.text_area :name, class:"form-control-newchara kakomi-te2", id:"character-name", placeholder:"場所の名前を入力してください" %>
    <p></p> 
    </div>
      <label for="自分のキャラ" class="sr-only">性別</label>
      <select name="place[character_ids][]" class="kakomi-te2 wf-mplus1p text-secondary">
          <option value="">チャットする自分のキャラクターを選択してください</option>
          <% Character.where(user_id: current_user.id).each do |character| %>
            <option value=<%= character.id %>><%= character.name %></option>
          <% end %>
        </select>
        <p></p>
        <div class="">
        <%= image_submit_tag "sanka_btn_form.jpg", class:"sakusei_btn",id:"sanka-form" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>